{% extends 'common/table.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block extra_toolbar %}
<button class="create-research btn btn-sm btn-primary" type="button" name="button">
    <span data-feather="plus"></span>
    Добавить
</button>
{% endblock extra_toolbar %}

{% block extra_scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        $(".create-research").modalForm({
            formURL: "{% url 'research-research-create' %}"
        });

        $(".read-research").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });

        $(".update-research").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });

        $(".delete-research").each(function () {
            $(this).modalForm({ formURL: $(this).data('id') });
        });
    });
</script>
{% endblock extra_scripts %}
